body {
  padding: 50px;
  background-color: #ece7e7;
  font-family: sans-serif;
}
#container {
  display: flex;
  justify-content: center;
}
h1{
  text-align: center;
  color: #db9d9d;
  font-family: sans-serif;
}